<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>

	<div id="content">
		<h1>Hi, I'm Iman Lintag. Welcome to my wonderful world built in Rails!</h1>
		<p>I am a 4th year student at UC Santa Barbara and I am an aspiring software enginner, entrepreneur, and accountant. Some of my interests are Machine Learning, Algorithms, Accounting, Web Development, and Risk Management. I am passionate about programming and having an array of ventures.</p> 
		<p>When I am away from my computer, I like to play basketball and attend concerts</p>

		<%= link_to "Resume", "/assets/Resume.pdf", :format => 'pdf' %>

	</div>
</div>